body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#header{
    background-color: #000000;
    width: 100%;
    height: 70px;
    z-index: 10;
    position: fixed;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

#header li{
    display: inline-block;
    padding: 0 20px 0 20px;
    
}
#header a{
    text-decoration: none;
    color: #ffffff;
}

#header a:hover{
    color: #99ccee;
}

#hero-block{
    width: 100%;
    background-color: #99ccee;
    padding: 70px 0 0 0;
    overflow: auto;

}

#banner-text{
    text-align: center;
    font-size: 3em;
}

#side-text{
    font-size: 1.5em;
    width: 400px;
    display: inline-block;
    margin-left: 10%;
    
}

#css-image{
    width: 300px;
    height: 300px;
    display: inline-block;
    float:  right;
    margin-right: 10%;
}

#modules-block{
    text-align: center;
    
}
.box{
    width: 200px;
    height: 200px;
    border: solid #99ccee 3px;
    display: inline-block;
    /* vertical-align: top; */
    margin-top: 50px;
}

.box-label{
    background-color: #99ccee;
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 700px){
    #css-image{
        display: none;
    }

    #header li:not(:first-child){
        display: none;
    }

    #banner-text{
        font-size: 1.5em;
    }

    #side-text{
        font-size: 1em;
    }
}

@media screen and (min-width: 700px) and (max-width: 960px){
    #css-image{
        width: 150px;
        height: 150px;
    }

    #banner-text{
        font-size: 2em;
    }

    #side-text{
        font-size: 1.25em;
    }
}